<!DOCTYPE html>
<html>
<head>
    <title>D&D Character Creator</title>
</head>
<body>
    <h1>Create Your Character</h1>

    <form action="/character" method="post">
        <label>Name:</label><br>
        <input type="text" name="name"><br><br>

        <label>Class:</label><br>
        <input type="text" name="class"><br><br>

        <label>Race:</label><br>
        <input type="text" name="race"><br><br>

        <label>Strength:</label><br>
        <input type="number" name="strength"><br><br>

        <label>Dexterity:</label><br>
        <input type="number" name="dexterity"><br><br>

        <label>Constitution:</label><br>
        <input type="number" name="constitution"><br><br>

        <label>Intelligence:</label><br>
        <input type="number" name="intelligence"><br><br>

        <label>Wisdom:</label><br>
        <input type="number" name="wisdom"><br><br>

        <label>Charisma:</label><br>
        <input type="number" name="charisma"><br><br>

        <button type="submit">Create Character</button>
    </form>
</body>
</html>